.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 68px;
    width: 1125px;
    height: 613px;
    position: absolute;
    top: 152px;
    left: 157px;
    gap: 0px;
    opacity: 0px;
}

.left {
    width: 595px;
    height: 613px;
    gap: 36px;
    opacity: 0px;
}

.rigth {
    width: 530px;
    height: 487.06px;
    gap: 0px;
    opacity: 0px;
}

.left p {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin-bottom: 25px;
    padding: 6px 16px 6px 16px;
    cursor: pointer;
}

.active-btn {
    padding: 6px 16px 6px 16px;
    cursor: pointer;
    color: #fff;
    background-color: #D01c28;
    gap: 10px;
    opacity: 0px;
}

.cate-btn {
    background-color: #fff;
    padding: 6px 16px 6px 16px;
    gap: 10px;
    margin-bottom: 8px;
    border: 2px solid #00000;
}

button {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
}

.left .cnt-1 {
    font-family: Poppins;
    margin-bottom: 25px;
    font-size: 5.6em;
    font-weight: 800;
    line-height: 5rem;
    text-align: left;
}

.available {
    width: 131px;
    height: 67px;
    gap: 16px;
    opacity: 0px;
}

.available p {
    font-size: 13px;
}

.social-btn {
    display: flex;
    width: 80px;
    height: 32px;
    gap: 16px;
}